<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Matthew Hippensteel</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="Digital business card" content="" />
  <link rel="icon" href="static/images/github.png">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container-main">
    <div class="container-card">
        <!-- section 1 -->
        <div class="section-1">
            <img src="static/images/face2.jpg" class="professional-picture" alt="Picture of a person">
        </div>
        <!-- section 1 end -->

        <!-- section 2 end -->
        <div class="section-2">
            <span>
                <h3 class="section-2__name">Matthew Hippensteel</h3>
                <p class="section-2__description"><b>I am a</b> Systems Administrator with a nack for developing beautiful websites :-)</p>
            </span>
        </div>
        <!-- section 2 end -->

        <div class="section-3">
          <a href="#">
              <img src="static/images/icons/twitter.png" alt="twitter icon">
          </a>
          <a href="https://github.com/mcuidado/" target="_blank">
              <img src="static/images/icons/github.png" alt="github icon">
          </a>
          <a href="#">
              <img src="static/images/icons/linkedin.png" alt="linkedin icon">
          </a>
        </div>
    </div>
  </div>
</body>
</html>